@model XOVO.Models.User
@using XOVO.Models
@{
    ViewBag.Title = "Daten ändern";
    User user = (User)Session["User"];
}
<h4>Daten ändern</h4>
<div class="row">
    <div class="col s12 m6">
        <div class="card blue-grey darken-1 hoverable">
            <div class="card-content white-text">
                <span class="card-title">Profil bearbeiten</span>
                <p>
                    Hey @user.Username! Hier kannst du dein Profil bearbeiten! Schreib einfach die neuen Werte in die Felder und klick auf akzeptieren. 
                    ACHTUNG: Dieser Vorgang kann nicht rückgängig gemacht werden. 
                </p>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("ChangeData", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="card hoverable">
        <div class="card-content">
            <div>
                @Html.ValidationSummary()
                <span class="card-title">Daten ändern</span>
              
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Profilbild</span>
                        <input type="file" id="newProf" name="newProf"/>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Eine Datei hochladen">
                    </div>
                </div>
                    <div class="input-field">
                        <select class="" name="Gender">
                            <option value="" disabled selected>Wählen Sie Ihr Geschlecht</option>
                            <option value="male" data-icon="" class="left">Herr</option>
                            <option value="female" data-icon="" class="left">Frau</option>
                            <option value="notSpecified" data-icon="" class="left">sonstiges</option>
                        </select>
                    </div>

                    <div class="input-field">
                        <i class="material-icons prefix">person_pin</i>
                        <input value="@user.Firstname" type="text" id="firstname" name="Firstname" />
                        <label for="firstname">neuer Vorname</label>
                    </div>

                    <div class="input-field">
                        <i class="material-icons prefix">person_pin</i>
                        <input value="@user.Lastname" type="text" id="Lastname" name="Lastname" />
                        <label for="Lastname">neuer Nachname</label>
                    </div>

                    <div class="input-field">
                        <i class="material-icons prefix">insert_invitation</i>
                        <input value="@user.Birthdate" type="text" id="birthdate" name="Birthdate" class="datepicker">
                        <label for="birthdate">neues Geburtstdatum</label>
                    </div>

                    <div class="input-field">
                        <i class="material-icons prefix">email</i>
                        <input value="@user.Email" type="text" id="Email" name="Email" />
                        <label for="Email">neue Email</label>
                    </div>

                    <div class="input-field">
                        <i class="material-icons prefix">mood</i>
                        <input value="@user.Username" type="text" id="Username" name="Username" />
                        <label for="Username">neuer Benutzername</label>
                    </div>

                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        <input value="" type="password" id="Password" name="Password" />
                        <label for="Password">neues Passwort</label>
                    </div>

                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        <input value="" type="password" id="PasswordWH" name="PasswordWH" />
                        <label for="Password">neues Passwort erneut eingeben</label>
                    </div>
            </div>
            <div class="card-action">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Daten ändern
                    <i class="material-icons right">refresh</i>
                </button>


            </div>
        </div>
    </div>



}
