<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <title>@ViewBag.Title - stay together </title>
    @Styles.Render("~/Content/css/")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/Content/css/materialize.min.css" rel="stylesheet"
          type="text/css" />
    <link href="~/Content/css/homepage.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/Content/js/materialize.min.js"></script>
</head>

<body>
    


<ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">Profilseite</a></li>
        <li><a href="#!">Freunde</a></li>
        <li class="divider"></li>
        <li><a href="#!">Profil verwalten</a></li>
    </ul>
<nav>
    <a href="#" class="sidenav-trigger" data-target="mobile-nav">
        <i class="material-icons">menu</i>
    </a>
    @Html.Partial("Navigation");
</nav>
    
<ul class="sidenav" id="mobile-nav">
    <li><a href="#">Mein Feed</a></li>
    <li><a class="dropdown-trigger" href="#" data-target="dropdown1">Profil<i class="material-icons right">arrow_drop_down</i></a></li>
    <li><a href="#">Logout <i class="material-icons right">highlight_off</i></a></li>
</ul>


<aside>
    <nav class="nav-extended sidenav-fixed cyan darken-2 col s4">
        <div class="nav-content">
              <ul class="tabs tabs-transparent">
                     <li class="tab"><a href="#friends">Freunde</a></li>
                     <li class="tab "><a href="#notifications">Benachrichtigungen</a></li>
              </ul>
        </div>
    </nav>
        
</aside>

<section>
    <div class="container col s7">
        @RenderBody()
        <hr />
    </div>
</section>


    <footer class="page-footer cyan darken-2">
        @Html.Partial("Footer")
    </footer>
    

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script>
    $(document).ready(function(){
        //$(".sidenav").sidenav();
    
        $(".dropdown-trigger").dropdown();
    });
</script>


</body>

</html>