<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <title>@ViewBag.Title - XOVOO </title>
    @Styles.Render("~/Content/css/")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="~/Content/css/materialize.min.css" rel="stylesheet"
          type="text/css" />
    <link href="~/Content/css/homepage.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/Content/js/materialize.min.js"></script>
</head>

<body>

    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">Profilseite</a></li>
        <li><a href="#!">Freunde</a></li>
        <li class="divider"></li>
        <li><a href="#!">Profil verwalten</a></li>
    </ul>
<nav>
<<<<<<< HEAD

    <div class="nav-wrapper red darken-1">
        <div class="container">
            <a href="#"class="brand-logo left" style="padding-left: 30px">XOVOO</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="index.cshtml">Mein Feed</a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Profil<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <form class=" center hide-on-med-and-down" style="padding-left: 400px" id="form1">
                <div class="input-field" style="max-width: 400pt;">
                    <input id="search" type="search">
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                    <div id="searchResults"></div>
                </div>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    @RenderBody()
    <hr/>
</div>

<footer class="page-footer red darken-1" style="padding-top: 10px; padding-bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2019 - Copyright by XOVOO GmbH
        </div>
    </div>
</footer>

=======
    @Html.Partial("Navigation");
</nav>

<aside>
    <nav class="nav-extended sidenav-fixed indigo darken-4">
        <div class="nav-content">
              <ul class="tabs tabs-transparent">
                     <li class="tab"><a href="#friends">Freunde</a></li>
                     <li class="tab"><a href="#notifications">Benachrichtigungen</a></li>
              </ul>
        </div>
    </nav>
        
</aside>

<section>
    <div class="container">
        @RenderBody()
        <hr />
    </div>
</section>

<footer class="page-footer indigo darken-4" style="padding-top: 10px; padding-bottom: 0px;">
    @Html.Partial("Footer")
</footer>

    
>>>>>>> f596288fc428601e60eee5ab4e86ac77c45608cb

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script language="javascript">
<<<<<<< HEAD
    if((document).ready(dropdown))
    {
        $(".dropdown-trigger").dropdown();
    }
=======
    $(document).ready(function() {
        $(".dropdown-trigger").dropdown();
    });
>>>>>>> f596288fc428601e60eee5ab4e86ac77c45608cb
</script>

</body>

</html>