<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewBag.Title - stay together </title>
    @Styles.Render("~/main/css/")
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>

<body>

<header>
    <ul class="dropdown-content" id="drop_profile">
        <li>
            <a href="#">Anzeigen</a>
        </li>
        <li>
            <a href="#">Verwalten</a>
        </li>
        <li>
            <a href="#">Freundesliste</a>
        </li>
    </ul>

    <nav class="cyan darken-1">
        <div class="nav-wrapper">
            @Html.ActionLink("XOVO", "Index", "Home", null, new {@class = "brand-logo"})
            <ul class="right hide-on-med-and-down">
                <li>@Html.ActionLink("Feed", "Index", "Home", null, null)</li>
                <li>
                    <a href="#" class="dropdown-trigger" data-target="drop_profile">Profil<i class="material-icons right">arrow_drop_down</i></a>
                </li>
                <li>@Html.ActionLink("Logout", "Logout", "User", null, null)</li>
                <li class="switch">
                    <label class="white-text">
                        DE
                        <input type="checkbox">
                        <span class="lever"></span>
                        EN
                    </label>
                </li>

            </ul>
        </div>
    </nav>
</header>


<main>
    <div class="row">
        <div class="col l3 hide-on-med-and-down">
            <div class="card medium hoverable">
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab cyan darken-1"><a class="active white-text" href="#friends">Freunde</a></li>
                        <li class="tab cyan darken-1"><a class="white-text" href="#notify">Benachrichtigungen</a></li>
                    </ul>
                </div>
                <div class="card-content grey lighten-5">
                    <div id="friends">Vorname Nachname</div>
                    <div id="notify">Text of Notify</div>
                </div>
            </div>
        </div>
        <div class="col s12 l6">
            @RenderBody()
        </div>
        <div class="col l3 hide-on-med-and-down">
            <div class="card medium hoverable">
                <div class="card-content center">
                    <span class="card-title ">Beitrag teilen</span>
                    <div class="row">
                        <form class="col s12" action="#">
                            <div class="file-field input-field">
                                <div class="btn cyan darken-1">
                                    <span>Datei</span>
                                    <input type="file" multiple>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Eine oder mehrere Dateien Hochladen">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12" style="overflow-y: auto; height: 100px;">
                                    <textarea id="textarea" class="materialize-textarea" data-length="500"></textarea>
                                    <label for="textarea">Beitrag</label>
                                </div>
                            </div>
                            
                            <button class="btn cyan darken-1 waves-effect waves-light center" type="submit" name="action">posten
                                <i class="material-icons right">send</i>
                            </button>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</main>
<footer class="page-footer cyan darken-1">
    <div class="footer-copyright">
        &copy; XOVO GmbH @DateTime.Now.Year
        <a href="#" class="grey-text text-lighten-4 right">About us</a>
    </div>
</footer>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/materialize")
<script>
    $(document).ready(function() {
        $('.dropdown-trigger').dropdown
        (
            {
            coverTrigger: false
            }
        );

        $('.sidenav').sidenav();
        $('.tabs').tabs();
        $('input#input_text, textarea#textarea').characterCounter();
        $('select').formSelect();

    });
</script>
</body>
</html>