<div class="card hoverable" style="border:solid">

    <div class="card-image">
        <img src="@Model.Image">
        <span class="card-title">@Model.UserForFeedID</span>
    </div>

    <div class="card-content">
        <p>@Model.FeedContent</p>
    </div>
    <div class="card-action">
        <a href="/home/likefeed/@Model.Id"><i class="material-icons">thumb_up</i></a>
        <i>@Model.LikeCount</i>
        <i>@Model.CreationDateTime</i>
        <a href="#" class="right"><i class="material-icons">share</i></a>
    </div>
    <form>
        <fieldset class="form-group">
            <input type="text"
                   class="form-control"
                   id="Comment"
                   placeholder="Kommentar hinzufügen">
                <a href="#" class="btn-floating blue"><i class="material-icons">send</i></a>
        </fieldset>
    </form>
</div>