@{
    string background;
    if (Request.Cookies["background_login"] != null && !string.IsNullOrEmpty(Request.Cookies["background_login"].Value))
    {
        background = Request.Cookies["background_login"].Value.ToString();
    }
    else
    {
        background = "/Content/img/background_login_registration.jpg";
    }
}


<!DOCTYPE html>
<html>
<head>
    <title>XOVO - @ViewBag.Title</title>
    <meta charset="utf-8" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="~/Content/css/materialize.min.css" rel="stylesheet"
          type="text/css" />
    <link href="~/Content/css/homepage.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/Content/js/materialize.min.js"></script>
    @Styles.Render("~/css/")

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="background-image:url('@background')">
<div class="navbar-fixed">
    <ul class="sidenav" id="mobile_sidenav">
        <li><a href="#">Über uns</a></li>
        <li><a href="#">AGB</a></li>
        <li><a href="#">Kontakt</a></li>
        <li><a href="#">Kundenbewertungen</a></li>
    </ul>

    <nav class="transparent z-depth-0">
        <div class="nav-wrapper">
            <div class="row">
                <div class="col s12">
                    <a href="#" class="brand-logo center">XOVO - stay together</a>
                    <a href="#" data-target="mobile_sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="#">Über uns</a></li>
                        <li><a href="#">AGB</a></li>
                        <li><a href="#">Kontakt</a></li>
                        <li><a href="#">Kundenbewertungen</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
    <div class="container">
        @RenderBody()
    </div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/materialize")

<script>
    $(document).ready(function() {

        $('.sidenav').sidenav();
       
    });
</script>
</body>
</html>